@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
	--main-blue: #436EB0;
}

body {
	font-family: 'Noto Sans', sans-serif;
}

.user-details {
	font-weight: 700;
}

.search-button {
	font-size: 1.5em;
}

#page-wrapper {
	margin: 2em;
}
