@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
	--main-blue: #436EB0;
	--main-red: #bb1221;
	--hover-red: #990b20;
}

body {
	font-family: 'Noto Sans', sans-serif;
}

.row {
	margin-bottom: 0.6em;
}

h2 {
	font-size: 2.5em;
}


.search-text {
	font-size: 2.5em;
	line-height: 1.5em;
}

.search-info {
	font-size: 2.5em;
	font-weight: 700;
}

.search-info-wrapper {
	padding-left: 0;
}

#page-wrapper {
	margin: 2em 0em;
}

.search-info {
	color: black;
}

.search-info:hover {
	color: gray;
}

.map-link {
	color: var(--main-blue);
}

.map-link:hover {
	color: var(--main-blue);
}

.card-deck {
	margin-top: 2em;
}

.card-subtitle {
	margin: 0.5em 0;
}

.card-text {
	margin: 0.5em 0;
}


span {
	display: inline-block;
}


@media (max-width: 590px) {
	#looking {
		font-size: 2.5em;
		line-height: 0.7em;
	}
	#resource-name {
		padding-top: 0;
	}
	#resource-name-wrapper {
		padding-left: 15px;
	}
}

.btn-outline-info {
	padding: 1em;
	font-size: 1.3em;
	max-width: 300px;
	margin: auto;
}
